@model IEnumerable<WebAPI_trasua.Models.tk>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tài khoản</h2>

<p>
    @Html.ActionLink("Thêm tài khoản", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Họ tên
        </th>
        <th>
            Email
        </th>
        <th> Số điện thoại</th>
        <th>
            Địa chỉ
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idtk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diachi)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.idtk }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idtk })
            </td>
        </tr>
    }

</table>
