@model WebAPI_trasua.Models.danhmuc_sp

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết danh mục</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iddm)
        </dd>
        <dt>
            Tên danh mục: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tendm)
        </dd>

        <dt>
           Hình ảnh: 
        </dt>

        <dd>
            <img src="@Model.hinhanh" width="100" height="100" />
        </dd>

        <dt>
           Ghi chú: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghichu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.iddm }) |
    @Html.ActionLink("Back to List", "Index")
</p>
