@model WebAPI_trasua.Models.donhang
@using WebAPI_trasua.Models
@{
    ViewBag.Title = "Delete";
}

<h2>Đơn hàng</h2>

<h3>Bạn có chắc chắn muốn xóa danh mục này không?</h3>
<div>
    <div>
        <h4>Đơn hàng</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                ID tài khoản
            </dt>

            <dd>
                @Html.DisplayFor(model => model.idtk)
            </dd>

            <dt>
                ID giỏ hàng
            </dt>

            <dd>
                @Html.DisplayFor(model => model.idgh)
            </dd>

            <dt>
                Lời nhắn
            </dt>

            <dd>
                @Html.DisplayFor(model => model.loinhan)
            </dd>

            <dt>
                Ngày giờ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ngaygio)
            </dd>

            <dt>
                Hành trình
            </dt>

            <dd>
                @Html.DisplayFor(model => model.hanhchinh)
            </dd>

            <dt>
                Ghi chú
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ghichu)
            </dd>

        </dl>

    </div>
    <div>
        <h4>Giỏ hàng</h4>
        <hr />
        <dl class="dl-horizontal">
            @{
                giohang giohangs = ViewBag.giohang as giohang;
                if (giohangs != null)
                {

                    <dt>
                        ID Sản phẩm
                    </dt>

                    <dd>
                        @giohangs.idsp
                    </dd>

                    <dt>
                        Số lượng
                    </dt>

                    <dd>
                        @giohangs.sl
                    </dd>

                    <dt>
                        Lựa chọn
                    </dt>

                    <dd>
                        @giohangs.chon
                    </dd>

                    <dt>
                        Giá cho 1 sp
                    </dt>

                    <dd>
                        @giohangs.giax1
                    </dd>

                    <dt>
                        Tổng tiền
                    </dt>

                    <dd>
                        @giohangs.tongtien
                    </dd>
                    <dt>
                        Ghi chú
                    </dt>

                    <dd>
                        @giohangs.ghichu
                    </dd>

                }
            }


        </dl>

    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
